
<table>
    <tr>
        <th>Hinta</th>
        <th>Päivämäärä</th>
        <th>Vanhenemispäivä</th>
        <th>Tuotteen valmistaja</th>
        <th>Saapumiserän id</th>
        <th>Määrä</th>
        <th>ota</th>
    </tr>
    <tr *ngFor="let shipment of shipments">
        <td>{{shipment.Price}}</td>
        <td>{{shipment.Date}}</td>
        <td>{{shipment.ExpireDate}}</td>
        <td>{{shipment.VendorName}}</td>
        <td>{{shipment.SaapumiseranId}}</td>
        <td>{{shipment.UnitStock}}</td>
        <td><button type="submit" class="btn btn-info" (click)="takeProductFromStock(shipment.SaapumiseranId)">Ota tuote</button></td>
        
    </tr>
</table>