
<h2 class="h2">Tuoteryhmät:</h2>
<!--
<input type="text" (keyup)="onProductGroupKeyUp($event)">
<p>
<button (click)="getProductGroup()">Hae tuoteryhmät</button>
</p>
-->

<ul class="productgroups">
  <li *ngFor="let productGroup of productGroups"
    [class.selected] ="productGroup.GroupId === selectedProductGroup"
    (click)="onSelect(productGroup.GroupId)">
    <span class="badge">{{productGroup.GroupId}}</span>{{productGroup.Name}}
  </li>
  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#addGrouptDiv">luo uusi ryhmä</button>
</ul>

<div id="addGrouptDiv" class="collapse out">
  <form #addForm="ngForm" class="form-horizontal">
    <div class="form-group">
      <label class="container" for="name">Ryhmä nimi :</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" id="name" required
        [(ngModel)]="addGroup.name" name="name" #name="ngModel">
      </div>
    </div>

    
    <div class="form-group">
      <div class="col-sm-2">
        <button type="submit" class="btn btn-success" [disabled]="!addForm.form.valid" (click)="submitGroupProduct()">Lähetä tiedot </button>
      </div>
    </div>
  </form>
</div>

<app-addproduct [groupId2]="selectedProductGroup"></app-addproduct>
<app-productlist [groupId]="selectedProductGroup">Loading groups...</app-productlist>


